@media screen and (max-width: 480px) {
    div.container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    header.titulo {
        width: 1280px;
        padding: 2%;
        font-size: 2em;
        font-weight: bold;
    }
    img#icon {
        width: 250%;
        margin-top: 15%;
    }
    p#text {
        margin-top: 15%;
    }
    p#naveg {
    display: block;
    margin-top: 18%;
    margin-left: 20px;
    padding: 5px;
    }
    div.general-info {
        margin: 2%;
        max-width: 100%;
        font-size: 1.2em;
        line-height: 30px;
        font-weight: bold;
    }
    div.form-input {
        width: 650px;
        margin: 3% 2% 0.4% 3%;
        padding: 3% 2% 2% 2%;
    }
    div.links {
        font-size: 1em;
        flex-direction: column;
        align-self: flex-end;
        font-weight: bold;
        margin-left: 2%;
        display: inline;
    }
    footer#rodape {
        font-size: 0.7em;
        line-height: 1.5em;
        padding: 2%;
        width: auto;
    }
}
body {
    background-color: rgba(115, 146, 155, 0.685);
    font-family: Helvetica, Arial, 'Times New Roman', sans-serif;
}
a:link {
    text-decoration: none;
    color: rgb(0,0,0);
}
a:hover {
    font-size: 1.1em;
}
a:visited {
    color: rgb(0,0,0);
}
.container {
    display: flex;
}
#form-main {
    display: flex;
    background-size: cover;
    display: inline-block;
    margin: 1%;
    padding: 2%;
    width: 80%;
    border: 0;
}
.form-input {
    background: url("../img/background2.jpg") no-repeat;
    background-size: cover;
    display: inline-block;
    width: 650px;
    margin: 3% 2% 0.4% 3%;
    padding: 3% 2% 2% 2%;
    color: rgb(255, 255, 255);  
}
.titulo {
    background: url("../img/background2.jpg") no-repeat;
    background-size: cover;
    display: inline-block;
    text-align: right;
    width: 1280px;
    padding: 2%;
    font-size: 2.8125em;
    font-weight: bold;
    color: aliceblue;
}
.general-info {
    margin: 1%;
    width: 180px;
    font-size: 1.5em;
    line-height: 40px;
    font-weight: bold;
}
.links {
    font-size: 1.5em;
    flex-direction: column;
    align-self: flex-end;
    font-weight: bold;
    margin: 3% 2% 0% 2%;
    display: inline;
}
#text {
    width: 3%;
    margin-right: 0%;
}
#naveg {
    font-size: 0.8em;
    align-self: flex-start;
    margin-top: 60px;
    margin-left: 1px;
    padding: 5px 0px;
}
#icon {
    width: 30px;
    margin-top: 35px;
}
#icon:hover {
    width: 90%;
}
#rodape {
    background: url("../img/background2.jpg") no-repeat;
    background-size: cover;
    display: flex;
    color: aliceblue;
    width: 1280px;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 2% 0%;
    padding: 1%;
    align-self: center;
    justify-content: center;
}